
#contact {
	width: 100%;
	min-height: 100%;
}
#contact  h2{
	color: rgb(8, 24, 31);
	margin-left: 36px;

}
#contact  h4{
	color: rgb(8, 24, 31);
	margin-left: 36px;

}
.ul-address a {
	font-weight: normal;
}
.ul-address a:hover {
	color: rgb(250, 209, 38);
}
.ul-address ul {
	padding-right: 20px; 
	margin-bottom: 8px; 
	list-style: none;
	color: black;
}
.ul-address i {
	margin-left: 15px;
	position: absolute; 
	left: 0;
	color: #3eb0f7; 
	font-size: 25px;
	line-height: 30px;
}
.contact-row {
	margin: 100px 0 100px;
}
#contact-form {
	margin: 0 auto;
}
#contact-form input {
	position: relative;
	padding: 5px 25px;
	width: 100%;
}
#contact-form textarea {
	position: relative;
	padding: 10px 25px;
	width: 100%;
	height: 120px !important;
}
#contact-form .form-control {
	border-radius: 0;
	border: solid 1px #999999;
	background-color: #fff;
	color: #333;
	font-size: 1.2em;
	height: 55px;
}
#contact-form .btn {
	height: 55px;
	width: 100%;
	background-color: #00CC00;
	color: #ffffff;
	font-size: 17px !important;
	line-height: 18px;
	padding: 0 33px;
	border: none;
	border-radius: 0;
	margin: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
#contact-form .btn:hover {
	background-color: #FFCC00;
	-webkit-transition: all .8s ease;
	transition: all .8s ease;
}
